[Desktop Entry]
Name=Marble.Sand
Comment= Marble Sand
X-KDE-PluginInfo-Author=Zayronxio
X-KDE-PluginInfo-Name=Marble.Sand
X-KDE-PluginInfo-License=LGPL3.0
X-KDE-PluginInfo-EnabledByDefault=true


