[Desktop Entry]
Name=Marble.Dinamic.Glassy
Comment= Marble Sand
X-KDE-PluginInfo-Author=Zayronxio
X-KDE-PluginInfo-Name=Marble.Dinamic.Glassy
X-KDE-PluginInfo-License=LGPL3.0
X-KDE-PluginInfo-EnabledByDefault=true


